NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b2JsaWdpbmctZ25hdC0yLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_1gEU7jmWwIQVyr4FYDueo4kVfqJMB0qksuBNbue2q6


NEXT_PUBLIC_CLERK_SIGN_IN_URL=sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=sign-up


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.bcbxmasbttmmnihkippz:9449893834@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.bcbxmasbttmmnihkippz:9449893834@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"

RESEND_API_KEY=re_iYp66Wrm_5AGfLWB1FcZjYVHCGjthpC8Jnpm install resend

GEMINI_API_KEY=AIzaSyDa08OkGJrGJWWwutqaMbbCwZKHiVdmxs8              
ARCJET_KEY=ajkey_01k33ybjf8fzkt10fpmxgsm5dc
